.main-container {
    display: flex;
}

.header-texts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-texts p {
    font-family: 'Inter_28pt-Medium';
}

.main-app {
    position: relative;
    padding: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
}

.header-skeleton {
    width: 200px;
    height: 10px;
}

.circle-headers {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.circle-header-skeleton {
    width: 25px;
    height: 25px;
    border-radius: 20px;
}

.skeleton-click {
    cursor: pointer;
    transition: all ease-in-out 1s;
}